*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.widget-container{
	width: 100%;
	position: fixed;
	bottom: 0;
	right: 0;
}
.tab-content{
	display: none;
	background: #eeeeee;
	box-shadow: -2px -2px 9px #bbbaba;
	box-sizing: border-box;
}

.active{
	border-bottom-color: #eeeeee!important;
}

.active-tab{
	display: flex;
	animation: activeTab 0.2s ease-in;
}

@keyframes activeTab{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}